/*** BASIC LAYOUT: FOOTER ***/

.site-footer {
    flex: 0 0 auto;
    display: grid;
    justify-content: space-around;
    background-color: $second-back-color;
    color: $footer-text-color;

    a {
        color: $a-footer-color;
    }

    a:hover {
        color: $a-footer-hover-color;
        text-decoration: none;
    }
}

/* .site-footer a {
    color: $main-text-color;
}

.site-footer a:hover {
    color: $a-hover-color;
}
 */
/* .site-footer p {
    margin: 1em;
    padding: 3em 0;
} */

.footer-resource {
    grid-column: 1 / 1;
    padding: 1em;
    text-align: center;

    h3 {
        text-align: left;
        margin: 0;
        color: $footer-heading-color;

    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 0.5em;
        text-align: left;
    }

    a {
        padding: 0;
        margin: 0;
    }

    a:hover {
        text-decoration: none;
    }
}

.footer-about {
    grid-column: 2 / 3;
    padding: 1em;
    text-align: center;
}

.footer-social {
    grid-column: 4 / 4;
    padding: 0.5em;
    font-size: 2rem;
}

@media screen and (max-width: 767px) {
    .site-footer {
        justify-content: center;
    }

    .footer-resource {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .footer-about {
        grid-column: 1 /1;
        grid-row: 1 / 1;
    }

    .footer-social {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
        padding: 1em;
    }
}
