/***BASIC LAYOUT MAIN-ASIDE ***/

.main {
    flex: 1 0 auto;
    padding: 5em 0 4em;
    background-color: $main-back-color;
    color: $main-text-color;
    clear: both;
}

.main-article {
    flex: 1 0 auto;
    width: 100%;
}
