/*** UTILITIES ***/

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/*** HIDDEN ***/

.hidden {
    display: none !important;
}

/*** SCREEN READERS ***/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

/*** SLIDERS ***/
.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

*:focus {
    outline: 0;
}
 
.auto {
    margin: auto;
    text-align: center;
}

