/**COLORS**/
$heading-color: rgba(255, 255, 255, 0.8) !default;
$main-text-color: rgba(255, 255, 255, 0.6) !default;
$main-back-color: #121212 !default;
$second-back-color: #2e1334 !default;
$nav-a-color: #aaa !default;
$nav-a-hover-color: #fff !default;
$nav-a-active-color: #fff !default;
$a-color: darken(#fff, 5%) !default;
$a-hover-color: #fff !default;

/***FONTS AND LINES***/
$base-font-size: 1.1em;
$line: 1.4;
$line-height: $base-font-size * $line;
$h1-font-size: 2rem;
$h2-multiplier: 0.85;
$h3-multiplier: 0.7;
$h4-multiplier: 0.55;
$h5-multiplier: 0.5;
$h6-multiplier: 0.5;

/**SIZES**/
$main-article-width: 600/960*100%;
$aside-width: 300/960*100%;
$max-width: 100%;
