/**COLORS**/
$heading-color: #111 !default;
$main-text-color: #111 !default;
$main-back-color: #ebebeb !default;
$second-back-color: #2f6186 !default;
$third-back-color: #8ab4d4 !default;
$nav-a-color: #8ab4d4 !default;
$nav-a-hover-color: #4a98d4 !default;
$nav-a-active-color: #4a98d4 !default;
$a-color: #2f6186 !default;
$a-hover-color: #1d3c54 !default;
$a-footer-color: #152a3b !default;
$a-footer-hover-color: #8ab4d4 !default;


