/*** report.scss ***/
.landingpage {
    display: grid;
    gap: 1em 1em;
}

.landingpage h2 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    display: grid;
    text-align: left;
    background-color: $third-back-color;
    border: 0.1em solid $second-back-color;
    grid-template-areas: 'kmom-header' 'kmom-content' 'kmom-link';

}

.kmom-box.project {
    grid-column: span 3;
    text-align: left;
}

.kmom-header {
    padding: 0.5em;
    background-color: $third-back-color;
    color: $main-text-color;
    grid-row: 1 / 1;
}

.kmom-content {
    padding: 0.5em;
    background-color: $main-back-color;
    color: $main-text-color;
    grid-row: 2 / 2;
}

.kmom-link {
    padding: 0.5em;
    background-color: $main-back-color;
    color: $main-text-color;
    grid-row: 3 / 3;
    text-align: right;

    a {
        color: $main-text-color;
    }

    a:hover {
        color: $a-hover-color;
    }
}


.reportpage {
    display: grid;
    gap: 1em 1em;

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 0.5em;
        text-align: left;
    }

    a {
        padding: 0;
        margin: 0;
        color: $main-text-color;
        text-decoration: underline;
    }

    a:hover {
        color: $a-hover-color;
    }
}

.reportpage h2 {
    grid-column: 2 / 2;
    justify-self: center;
}

.report {
    grid-column: 2 / 2;
    padding: 1em;
}

.report-links {
    grid-column: 1 / 1;
    padding: 1em;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .landingpage h2 {
        grid-column: span 1;
    }
    
    .kmom-box.project {
        grid-column: span 1;
    }

    .report-links {
        display: none;
    }

    .report {
        grid-column: 1 / 1;
        padding: 1em;
    }
}

@media screen and (max-width: 260px) {
    .kmom-link {
        text-align: left;
    }

}
